.mg-bottom-sm {
    margin-bottom: 2rem !important;
}

.mg-bottom-md {
    margin-bottom: 4rem !important;
}

.mg-bottom-lg {
    margin-bottom: 8rem !important;
}

.mg-bottom-xlg {
    margin-bottom: 16rem !important;
}

.mg-top-sm {
    margin-top: 2rem !important;
}

.mg-top-md {
    margin-top: 4rem !important;
}

.mg-top-lg {
    margin-top: 8rem !important;
}

.mg-top-xlg {
    margin-top: 16rem !important;
}


.mg-left-sm {
    margin-left: 2rem !important;
}

.mg-left-md {
    margin-left: 4rem !important;
}

.mg-left-lg {
    margin-left: 8rem !important;
}

.mg-left-xlg {
    margin-left: 16rem !important;
}


.mg-right-sm {
    margin-right: 2rem !important;
}

.mg-right-md {
    margin-right: 4rem !important;
}

.mg-right-lg {
    margin-right: 8rem !important;
}

.mg-right-xlg {
    margin-right: 16rem !important;
}

.text-center {
    text-align: center !important;
}

.unselectable {
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}