$--color-primary:  #E6B31E;
$--color-black:  #1D1D1D;
$--color-black-dark: #151515;
$--color-black-dark-2: #131313;
$--color-black-light: #8F8F8F;
$--color-black-light-2: #343434;
$--color-white:  #EBEBEB;
$--color-secondary: #CCC214;
$--color-heading: #99943D;
$--color-blue: #445591;
$--color-blue-light: #35D8FF;
$--color-blue-2: #879AD4;
$--color-green: #8bc34a;
$--color-pink: #e91e63;

$--size-round-sm: .5rem;
$--size-padding-home: 10rem;
$--size-padding-home-md: 6rem;
$--size-padding-home-sm: 10rem;