.histories {

    &__container {
        margin: 5rem 0;
    }

    &__card {
        display: grid;
        grid-row-gap: 2.5rem;
        min-height: 50vh;
        align-content: start;
    }
}

.history {
    display: grid;
    grid-template-columns: minmax(max-content, 1fr) max-content 10rem max-content;
    grid-gap: 3rem;
    direction: rtl;
    align-items: center;
    margin: 0 5rem;
    

    @include respond(b-8) {
        margin: 0;
        grid-gap: 2rem;
        grid-template-columns: minmax(max-content, 1fr) max-content max-content;
    }

    @include respond(b-12) {
        grid-template-columns: minmax(max-content, 1fr) max-content;
    }
    
    &__title {
        font-size: 1.6rem;
        font-weight: 300;
    }

    &__date {
        font-size: 1.4rem;

        @include respond(b-12) {
            display: none;
        }
    }

    &__detail {
        height: 2.5rem;
        width: 2.5rem;
        fill: $--color-grey-4;
        opacity: .75;
        transition: all .25s;

        &:hover {
            cursor: pointer;
            opacity: 1;
        }
    }

    &__status {
        justify-self: start;
        font-size: 1.2rem;
        font-weight: 400;

        @include respond(b-8) {
            display: none;
        }
    }
}

.history-detail {
    width: 75vw;
    padding: 0 5rem;
    font-size: 1.6rem;
    font-weight: 300;

    @include respond(b-13) {
        padding: .5rem 1rem;
    }

    &__container {
        display: grid;
        grid-gap: 4rem;
        justify-items: start;
        direction: rtl;
        grid-template-columns: minmax(max-content, 1fr) max-content max-content;
        grid-auto-flow: dense;
    }

    &__item {

        &--title {
            grid-column: 1/2;
        }

        &--price {
            grid-column: 2/3;

        }

        &--count {
            grid-column: 3/4;
        }
    }

    &__footer {
        border-top: 1px solid $--color-grey-4;
        padding: 2.5rem;
        grid-column: 1/-1;
        display: grid;
        grid-gap: 2rem;
        width: 100%;

        @include respond(b-13) {
            padding: 1rem;
        }
    }
}