.home-articles {
    margin-top: 35rem;
    position: relative;
    z-index: 10;

    &__bg {
        position: absolute;
        z-index: -1;
        transform: scale(1.2);
        left: 0;
        top: 0;
        fill: $--color-primary;

        @include respond(b-4) {
            width: 125rem;
        }

        @include respond(b-7) {
            width: 240rem;
        }

        @include respond(b-9) {
            top: 3rem;
        }

        @include respond(b-13) {
            top: 1rem;
        }
    }

    &__header {
        text-align: center;        
        position: relative;
        top: -25rem;
    }

    &__all {
        margin-right: 2rem;
        transition: all .2s;
        text-decoration: underline;

        &:hover {
            color: $--color-primary;
        }
    }

    &__box {
        display: grid;
        grid-template-columns: repeat(3, minmax(max-content, 1fr));
        grid-gap: 2.5rem;
        align-items: center;
        justify-items: center;
        position: relative;
        top: -10rem;

        @include respond(tiny-desk) {
            grid-template-columns: repeat(2, minmax(max-content, 1fr));

            & > *:last-of-type {
                display: none;
            }
        }

        @include respond(tiny-desk) {
            grid-template-columns: repeat(1, minmax(max-content, 1fr));
        }
    }
}