.navigation {
    background-color: $--color-black;
    color: $--color-white;
    font-size: 1.6rem;

    display: grid;
    direction: rtl;
    grid-template-columns: max-content minmax(max-content, 3fr) max-content;
    align-items: center;
    padding: 1rem 0;
    grid-gap: 6.5rem;
    position: relative;
    z-index: 1;
    
    &__logo {
        fill: $--color-primary;
        height: 7.5rem;
    }

    &__list {
        list-style: none;
        display: grid;
        grid-template-columns: repeat(5, max-content);
        direction: rtl;
        grid-gap: 7.5rem;
    }

    &__item {
        transition: all .2s ease-in;
        &:hover {
            color: $--color-primary;
        }
    }

    &__link {

    }

    &__buttons {
        display: flex;
        align-items: center; 
        margin-right: 4rem;
        font-size: 1.4rem;
    }

    &__buttons:hover &__sign-svg {
        fill: $--color-primary;
    }

    &--shifted {
        padding-left: 15rem;
    }

    &--light {
        background-color: $--color-grey;
        color: $--color-grey-2;
    }

    &--light &__logo {
        fill: $--color-grey-2;
    }

    &--logged {
        grid-template-columns: max-content minmax(max-content, 3.5fr) max-content;

    }

    &--transparent {
        background-color: transparent;
    }

    &__info {
        display: flex;
        align-items: center;
    }

    &__notif {
        height: 2.5rem;   
        fill: $--color-white;
        margin-left: 2.5rem;
    }

    &__logout {
        height: 2.5rem; 
        fill: $--color-white;
    }

    &--light &__logout,  &--light &__notif{
        fill: $--color-grey-2;    
    }

    &__avatar {
        width: 5rem;
        height: 5rem;
        border-radius: 50%;
        margin-left: 2.5rem;
        background-color: $--color-white;
        background-position: center;
        background-size: cover;
    }

    &--light &__avatar {
        background-color: $--color-grey-2;
    }

    &__sign-svg {
        fill: $--color-white;
        height: 2rem;
        width: 2.5rem;
        margin-left: 1.5rem;
        transition: all .2s ease-in;    
    }

    &__dash {
        margin: 0 1rem;
    }

    &__signup,
    &__login {
        transition: all .2s ease-in;
        &:hover {
            color: $--color-primary;
        }
    }
}