.product-prev {

    display: flex;
    flex-direction: column;
    border-radius: 2rem;
    background-color: $--color-black-light-2;
    width: 30rem;
    box-shadow: 0 .3rem 1rem rgba(black, .15);
    color: $--color-white;
    font-size: 1.4rem;
    // overflow: hidden;
    position: relative;

    &:hover &__more {
        visibility: visible;
        opacity: 1;
    }

    @include respond(small-desk) {
        width: 27.5rem;
    }

    &__img {
        width: 100%;
        height: 23rem;
        background-size: cover;
        margin-bottom: 1rem;
        border-top-left-radius: 2rem;
        border-top-right-radius: 2rem;
        overflow: hidden;

        @include respond(small-desk) {
            height: 20rem;
        }
    }

    &__header {
        padding: 2rem .5rem;
        margin: 0 2rem;
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
        align-items: center;
        border-bottom: 1px solid $--color-black-light;
    }

    &__title {
        font-size: 1.8rem;
        font-weight: 400;
    }

    &__category {
        background-color: $--color-blue;
        padding: .5rem 1rem;
        border-radius: 10rem;
        font-size: 1.2rem;
    }

    &__footer {
        padding: 2rem .5rem;
        margin: 0 2rem;
        display: flex;
        flex-direction: row-reverse;
    }

    &__price {
        margin-left: .5rem;

        &--off {
            text-decoration: line-through;
        }
    }

    &__price-tag {
        margin-left: auto;
    }

    &__off-price {
        display: grid;
        grid-template-columns: max-content max-content;
        direction: rtl;
        margin-left: auto;
    }

    &__svg {
        fill: $--color-white;
        height: 2rem;
        width: 2rem;
        opacity: .5;
        transition: all .2s;
        
        &--back {
            margin-left: 1.5rem;
        }

        &:hover {
            cursor: pointer;
            opacity: 1;
        }
    }

    &__off {
        position: absolute;
        top: -1.5rem;
        left: -1.5rem;
        height: 5rem;
        width: 5rem;
        z-index: 10;
    }


    &--slide-show {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: all .25s ease-in;
    }

    &--slide-show-1 {
        transform: scale(.6) translateX(-275%) translateY(-75%);
        z-index: 3;
    }
    
    &--slide-show-2 {
        transform: scale(.75) translateX(-155%) translateY(-60%);
        z-index: 4;
    }

    &--slide-show-3 {
        transform: scale(.9) translateX(-55.5%) translateY(-50%);
        z-index: 5;
    }
    
    &--slide-show-4 {
        transform: scale(.75) translateX(+25%) translateY(-60%);
        z-index: 4;
    }

    &--slide-show-5 {
        transform: scale(.6) translateX(+110%) translateY(-75%);
        z-index: 3;        
    }

    &__more {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: rgba(black, .5);
        visibility: hidden;
        opacity: 0;
        transition: all .2s ease-out;
    }

    &__more-text {
        font-size: 1.4rem;
        text-align: center;
        padding: 0 3rem;
        margin-bottom: 1.5rem;
    }
}