.recommended {
    margin: 17rem 0;
    display: flex;
    justify-content: space-between;
    position: relative;

    &--rtl {
        flex-direction: row-reverse;
    }

    &__hero {
        height: 80rem;
        width: 53rem;
        position: relative;
        z-index: 2;
        background-size: cover;
        background-position: center;
        box-shadow: 0 1rem 2rem rgba(black, .2);

        &--left {

        }

        &--right {
            
        }

        &--landscape {
            width: 85rem;
            height: 40rem;

            @include respond(small-desk) {
                width: 80rem;
                height: 40rem; 
            }
        }
    }

    &__hero-bg {
        display: block;
        content: "";
        height: 80rem;
        width: 53rem;
        position: absolute;
        left: 0 - $--size-padding-home;
        top: -4rem;
        z-index: 1;
        background-color: $--color-primary;

        &--left {

        }

        &--right {
            
        }

        &--landscape {
            width: 85rem;
            height: 40rem;
        }
    }

    &--rtl > &__hero-bg {
        left: auto;
        right: 0 - $--size-padding-home;
    }

    

    &__product-bg {
        display: block;
        content: "";
        height: 18rem;
        width: 43rem;
        position: absolute;
        right: 0 - $--size-padding-home -10rem;
        top: 28%;
        z-index: 1;
        background-color: $--color-primary;

        &--left {

        }

        &--right {
            
        }
    }

    &--rtl  &__product-bg {
        right: auto;
        left: 0 - $--size-padding-home - 10rem;
        transform: translateY(-50%);
    }

    &__product {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        right: 10rem;
        z-index: 2;

        &--left {
            
        }

        &--right {
            
        }
    }

    &--rtl  &__product {
        right: auto;
        left: 10rem;
    }

    &__logo {
        width: 30rem;
        position: relative;
        z-index: 2;
    }

    &__desc {
        margin: 3rem 0;
        color: $--color-white;
        font-weight: 500;
        position: relative;
        z-index: 2;
    }

    &__buttons {
        display: flex;
        align-items: stretch;
    }

    &__more {
        margin-right: 1rem;
    }

    &__shop {

    }
}
