.recommended {
    margin: 20rem 0 17rem;
    display: flex;
    justify-content: space-between;
    position: relative;

    @include respond(b-5) {
        flex-direction: column;
        margin: 25rem 0 20rem;
    }

    &--rtl {
        flex-direction: row-reverse;

        @include respond(tiny-desk) {
            flex-direction: column;
            margin: 25rem 0 20rem;
        }
    }

    &__hero {
        height: 80rem;
        width: 53rem;
        position: relative;
        z-index: 2;
        background-size: cover;
        background-position: center;
        box-shadow: 0 1rem 2rem rgba(black, .2);

        &--left {
            @include respond(b-5) {
                width: 65rem;
            }

            @include respond(b-9) {
                width: 83vw;
            }

            @include respond(b-12) {
                width: 90vw;
                left: -4rem;
            }

            @include respond(b-13) {
                width: 90vw;
                left: 1rem;
            }
        }

        &--right {
            
        }

        &--landscape {
            width: 85rem;
            height: 40rem;

            @include respond(small-desk) {
                width: 80rem;
                height: 40rem; 
            }

            @include respond(tiny-desk) {
                width: 85vw;
                right: -3.5rem;
            }

            @include respond(b-10) {
                right: auto;
            }
        }
    }

    &__hero-bg {
        display: block;
        content: "";
        height: 80rem;
        width: 53rem;
        position: absolute;
        left: 0 - $--size-padding-home;
        top: -4rem;
        z-index: 1;
        background-color: $--color-primary;

        &--left {
            top: -6rem;

            @include respond(b-11) {
                left: -17.5rem
            }

            @include respond(b-12) {
                left: -20rem
            }

            @include respond(b-14) {
                left: -25rem
            }
        }

        &--right {
            
        }

        &--landscape {
            width: 85rem;
            height: 40rem;

            @include respond(tiny-desk) {
                width: 80vw;
            }
        }
    }

    &--rtl > &__hero-bg {
        left: auto;
        right: 0 - $--size-padding-home;
    }

    &__product-bg {
        display: block;
        content: "";
        height: 18rem;
        width: 43rem;
        position: absolute;
        right: 0 - $--size-padding-home -10rem;
        top: 28%;
        z-index: 1;
        background-color: $--color-primary;

        &--left {
            
        }

        &--right {
            @include respond(b-5) {
                top: 0;
            }
        }
    }

    &--rtl  &__product-bg {
        right: auto;
        left: 0 - $--size-padding-home - 10rem;
        transform: translateY(-50%);
    }

    &__product {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        right: 10rem;
        z-index: 2;

        @include respond(b-5) {
            margin-top: 7.5rem;
        }

        @include respond(b-12) {
            margin-top: 20rem;
        }

        @include respond(b-13) {
            right: 5rem;
        }

        @include respond(b-14) {
            right: 0;
        }

        &--left {
            right: auto;
            left: 10rem;

            @include respond(tiny-desk) {
                align-self: flex-start;
                margin-top: 10rem;
            }

            @include respond(b-12) {
                left: 7.5rem;
            }

            @include respond(b-13) {
                left: 5rem;
            }

            @include respond(b-14) {
                left: 0;
            }
        }

        &--right {
            @include respond(b-5) {
                align-self: flex-end;
            }
        }
    }

    &__logo {
        width: 20rem;
        position: relative;
        z-index: 2;
    }

    &__desc {
        margin: 3rem 0;
        color: $--color-white;
        font-weight: 500;
        position: relative;
        z-index: 2;
    }

    &__buttons {
        display: flex;
        align-items: stretch;
    }

    &__more {
        margin-right: 1rem;
    }

    &__shop {

    }
}
