.aboutus {
    background-color: $--color-black;
    min-height: 100vh;
    padding: 0 $--size-padding-home;
    color: $--color-white;
    font-size: 1.6rem;
    text-align: right;
    position: relative;

    @include respond(small-desk) {
        padding: 0 $--size-padding-home-md;

    }

    &__container {
        display: grid;
        grid-template-columns: repeat(12, minmax(8rem, 1fr));
        grid-gap: 1.5rem;
        grid-row-gap: 30rem;
        align-items: center;
        padding: 5rem 0;
    }
    
    &__about {
        grid-column: 6/12;
        grid-row: 1/2;

        position: relative;
        z-index: 3;
    }

    &__trophies {
        grid-column: 2/8;
        grid-row: 2/3;
        position: relative;
        z-index: 2;
    }


    &__about-title {

    }

    &__about-text {
        line-height: 3rem;
    }

    &__about-img {
        grid-column: 1/4;
        grid-row: 1/2;

        display: block;
        background-position: center;
        background-size: cover;
        width: 100%;
        height: 70vh;
        position: relative;
        z-index: 10;
    }

    &__trophies-title {

    }

    &__trophies-text {
        line-height: 3rem;
        
    }

    &__trophies-img {
        grid-column: 9/13;
        grid-row: 2/3;

        display: block;
        background-position: center;
        background-size: cover;
        width: 100%;
        height: 90vh;
        position: relative;
        z-index: 10;
    }

    &__about-bg {
        position: relative;
        z-index: 1;
        display: block;
        background-color: $--color-secondary;
        width: 100%;
        opacity: .5;

        &--right {
            grid-column: 11/13;
            grid-row: 1/2;
            height: 55vh;
            transform: translateX($--size-padding-home) scaleX(1.6);
        }

        &--left {
            grid-column: 1/3;
            grid-row: 2/3;
            height: 50vh;
            transform: translateX(-$--size-padding-home) scaleX(1.4);
        } 
    }

    &__about-img-bg {

        &--left {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            width: 15vw;
            height: 175vh;
            transform: translateY(-20%);
        }

        &--right {
            grid-row: 2/3;
            grid-column: 10/13;
            transform: translateX($--size-padding-home);
            width: 100%;
            position: relative;
            z-index: 1;
        }
    }

    &__about-img-bg-top {
        fill: $--color-primary;
        
    }

    &__about-img-bg-bottom {
        fill: $--color-primary;
        opacity: .5;
        
    }
}