.dashboard {
    background-color: $--color-grey;
    min-height: 100vh;
    padding: 0 $--size-padding-home;

    @include respond(small-desk) {
        padding: 0 $--size-padding-home-md;

    }

    &__container {
        padding: 10rem 0;
        display: grid;
        grid-gap: 2.5rem;
        grid-template-columns: repeat(8, minmax(10rem, 1fr));
    }

    &__card {
        padding: 3rem 5rem;
        background-color: $--color-white-absolute;
        box-shadow: 0 .5rem 1.5rem rgba($color: #000000, $alpha: .1 );
        border-radius: .2rem;

        &--status {
            grid-column: 1/-1;
        }

        &--info {
            grid-column: 4/9;
            grid-row: 1/3;
            display: grid;
            grid-template-columns: repeat(8, minmax(1rem, 1fr));
            grid-gap: 2.5rem;
            grid-row-gap: 3rem;
        }

        &--info &-title {
            grid-column: 3/9;
            margin-bottom: 1rem;
        }

        &--notifs {
            grid-column: 1/4;
            background-color: #00C5DC;
            color: $--color-white;
            grid-row: 1/2;
            display: flex;
            flex-direction: column;
        }

        &--history {
            grid-column: 1/4;
            grid-row: 2/3;
            display: flex;
            flex-direction: column;
        }
    }

    &__card-title {
        margin-bottom: 6rem;
        text-align: right;
        color: $--color-grey-2;
        font-size: 1.8rem;
        font-weight: 400;

        &--light {
            color: $--color-white;
        }
    }

    &__status-svg {
        height: 12.5rem;
        fill: #00C5DC;
        margin-bottom: 2.5rem;
    }

    &__status-circle {
        opacity: .25;
        fill: #00C5DC;
        opacity: .1;
    }

    &__status-container {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        margin-bottom: 2.5rem;
        padding: 0 5rem;
    }

    &__status-box {
        opacity: .5;
        display: flex;
        flex-direction: column;
        align-items: center;

        &--active {
            opacity: 1;

        }
    }

    &__status-title {
        font-size: 1.4rem;
        color: $--color-grey-2;
    }

    &__edit-box {
        opacity: .5;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        transition: all .2s;
        grid-column: 1/3;
        grid-row: 1/2;
        align-self: start;
        justify-self: start;

        &:hover {
            cursor: pointer;
            opacity: 1;
        }
    }

    &__edit-icon {
        height: 2rem;
        color: $--color-grey-2;
        margin-left: 1.3rem;
    }

    &__edit-text {
        font-size: 1.4rem;
    }

    &__avatar {
        width: 20rem;
        height: 20rem;

        border-radius: 50%;

        grid-column: 1/-1;
        grid-row: 2/3;
        background-color: $--color-grey;
        justify-self: center;
        background-position: center;
        background-size: cover;

        margin-bottom: 2.5rem;
    }
    
    &__label {
        font-size: 1.4rem;
        color: $--color-grey-2;
        align-self: center;
        justify-self: right;

        &--right {
            grid-column: 6/8;
        }

        &--left {
            grid-column: 3/4;
        }
    }

    &__info {
        
        font-size: 1.4rem;
        color: $--color-grey-2;
        font-weight: 200;
        align-self: center;
        justify-self: right;
        text-align: right;

        &--name {
            grid-column: 3/6;
            grid-row: 3/4;
        }

        &--email {
            grid-column: 2/6;
            grid-row: 4/5;
        }

        &--phone {
            grid-column: 4/6;
            grid-row: 5/6;
        }

        &--zip-code {
            grid-column: 4/6;
            grid-row: 6/7;
        }

        &--address {
            grid-column: 1/6;
            grid-row: 7/8;
        }

        &--state {
            grid-column: 1/3;
            grid-row: 5/6;
        }

        &--city {
            grid-column: 1/3;
            grid-row: 6/7;
        }
    } 

    &__info-input {
        font-family: 'IRANSans';
        font-size: 1.4rem;
        color: $--color-grey-2;
        font-weight: 200;
        text-align: right;
        direction: rtl;
        padding: .5rem 1rem;

        &--name {
            grid-column: 3/6;
            grid-row: 3/4;
        }

        &--email {
            grid-column: 2/6;
            grid-row: 4/5;
        }

        &--phone {
            grid-column: 4/6;
            grid-row: 5/6;
        }

        &--zip-code {
            grid-column: 4/6;
            grid-row: 6/7;
        }

        &--address {
            grid-column: 1/6;
            grid-row: 7/8;
        }

        &--state {
            grid-column: 1/3;
            grid-row: 5/6;
        }

        &--city {
            grid-column: 1/3;
            grid-row: 6/7;
        }
    }

    &__pass-box {
        display: flex;
        flex-direction: row-reverse;
        grid-column: 1/3;
        grid-row: 3/4;
        opacity: .3;
        transition: all .2s ease-in;
        align-self: center;
        
        &:hover {
            opacity: 1;
            cursor: pointer;
        }
    }

    &__pass-icon {
        height: 2rem;
        fill: $--color-grey-2;
        margin-left: 1rem;
    }

    &__pass-text {
        color: $--color-grey-2;
        font-size: 1.4rem;
    }

    &__notifs-container {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        font-size: 1.4rem;
        margin-bottom: 3.5rem; 
    }

    &__notif-container {
        display: flex;
        flex-direction: row-reverse;
        &:not(:last-child) {
            margin-bottom: 1.5rem;
        }
    }

    &__notif-text {
        margin-left: auto;
    }

    &__notif-date {

    }

    &__orders-container {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        font-size: 1.4rem;
        margin-bottom: 3.5rem; 
        color: $--color-grey-2;

    }

    &__order-container {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;

        &:not(:last-child) {
            margin-bottom: 1.5rem;
        }
    }

    &__order-text {
        margin-left: auto;
    }

    &__order-state {
        font-size: 1.2rem;
        opacity: .5;
    }
}