.dashboard {
    background-color: $--color-grey;
    min-height: 100vh;
    padding: 0 $--size-padding-home;

    @include respond(small-desk) {
        padding: 0 $--size-padding-home-md;

    }

    @include respond(b-10) {
        padding: 0 2rem;

    }

    &__container {
        padding: 5rem 0;
        display: grid;
        grid-gap: 2.5rem;
        grid-template-columns: repeat(8, minmax(2rem, 1fr));
    }

    &__card {
        padding: 3rem 5rem;
        background-color: $--color-white-absolute;
        box-shadow: 0 .5rem 1.5rem rgba($color: #000000, $alpha: .1 );
        border-radius: .2rem;

        &--status {
            grid-column: 1/-1;
        }

        &--info {
            grid-column: 4/9;
            grid-row: 1/3;
            display: grid;
            grid-template-columns: repeat(8, minmax(1rem, 1fr));
            grid-gap: 2.5rem;
            grid-row-gap: 3rem;

            @include respond(tab-land) {
                grid-row: 1/2;
                grid-column: 1/-1;
            }
        }

        &--info &-title {
            grid-column: 3/9;
            margin-bottom: 1rem;
        }


        &--notifs {
            grid-column: 1/4;
            background-color: #00C5DC;
            color: $--color-white;
            grid-row: 1/2;
            display: flex;
            flex-direction: column;
            text-align: right;

            @include respond(tab-land) {
                grid-row: 2/3;
                grid-column: 1/5;
            }

            @include respond(b-7) {
                grid-row: 2/3;
                grid-column: 1/-1;
            }
        }

        &--history {
            grid-column: 1/4;
            grid-row: 2/3;
            display: flex;
            flex-direction: column;
            text-align: right;

            @include respond(tab-land) {
                grid-row: 2/3;
                grid-column: 5/-1;
            }

            @include respond(b-7) {
                grid-row: 3/4;
                grid-column: 1/-1;
            }
        }
    }

    &__card-title {
        margin-bottom: 1rem;
        text-align: right;
        color: $--color-grey-2;
        font-size: 1.8rem;
        font-weight: 400;

        &--light {
            color: $--color-white;
        }
    }

    &__card-subtitle {
        font-size: 1.4rem;
        font-weight: 400;
        color: $--color-grey-2;
        opacity: .5;
        text-align: right;
        margin-bottom: 6rem;
    }


    &__status-svg {
        height: 12.5rem;
        fill: #00C5DC;
        margin-bottom: 2.5rem;

        @include respond(b-9) {
            height: 10.5rem;
        }

        @include respond(b-10) {
            height: 8.5rem;
        }

        @include respond(b-10) {
            height: 7rem;
            margin-bottom: 1.5rem;
        }

        @include respond(b-12) {
            height: 12.5rem;
            margin-bottom: 2.5rem;
        }
    }

    &__status-circle {
        opacity: .25;
        fill: #00C5DC;
        opacity: .1;
    }

    &__status-container {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        margin-bottom: 2.5rem;
        padding: 0 5rem;

        @include respond(b-7) {
            padding: 0;
        }

        @include respond(b-12) {
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }

    &__status-box {
        opacity: .5;
        display: flex;
        flex-direction: column;
        align-items: center;

        @include respond(b-12) {
            &:not(:last-child) {
                margin-bottom: 5rem;
            }
        }

        &--active {
            opacity: 1;

        }
    }

    &__status-title {
        font-size: 1.4rem;
        color: $--color-grey-2;
        text-align: center;
    }

    &__edit-box {
        opacity: .5;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        transition: all .2s;
        grid-column: 1/3;
        grid-row: 1/2;
        align-self: start;
        justify-self: start;

        &:hover {
            cursor: pointer;
            opacity: 1;
        }
    }

    &__edit-icon {
        height: 2rem;
        color: $--color-grey-2;
        margin-left: 1.3rem;
    }

    &__edit-text {
        font-size: 1.4rem;
    }

    &__avatar {
        width: 20rem;
        height: 20rem;

        border-radius: 50%;

        background-color: $--color-grey;
        background-position: center;
        background-size: cover;
        display: block;
        margin-bottom: 2.5rem;
        position: relative;

        &::after {
            opacity: 0;
            display: block;
            position: absolute;
            top: 0%;
            left: 0%;
            content: "";
            width: 100%;
            height: 100%;
            border-radius: 50%;
            background-color: $--color-black;
            z-index: 0;
            transition: all .2s;
        } 

        &:hover::after {
            opacity: .75;
        }

        &:hover {
            cursor: pointer;
        }
    }

    &__avatar:hover &__avatar-icon,
    &__avatar:hover &__avatar-text {
        opacity: 1;
    }
    

    &__avatar-icon {
        position: absolute;
        fill: $--color-white;
        height: 7.5rem;
        width: auto;
        top: 40%;
        left: 50%;
        transform: translate(-50%,-50%);
        opacity: 0;
        z-index: 2;
        transition: all .2s;
    }

    &__avatar-form {
        grid-column: 1/-1;
        grid-row: 2/3;
        width: 20rem;
        height: 20rem;
        justify-self: center;

        @include respond(tab-land) {
            margin-bottom: 1rem;
        }
    }

    &__avatar-text {
        position: absolute;
        transform: translate(-50%,-50%);
        color: $--color-white;
        top: 70%;
        left: 50%;
        font-size: 1.6rem;
        opacity: 0;
        z-index: 2;
        transition: all .2s;
    }
    
    &__label {
        font-size: 1.4rem;
        color: $--color-grey-2;
        align-self: center;
        justify-self: right;

        &--right {
            grid-column: 6/8;

            @include respond(b-10) {
                grid-column: 6/9;
            }
        }

        &--left {
            grid-column: 3/4;
            
            @include respond(b-11) {
                grid-column: 6/9;
            }
        }
    }

    &__info {
        
        font-size: 1.4rem;
        color: $--color-grey-2;
        font-weight: 200;
        align-self: center;
        justify-self: right;
        text-align: right;

        &--name {
            grid-column: 3/6;
            grid-row: 3/4;

            @include respond(b-11) {
                grid-column: 1/6;
            }
        }

        &--email {
            grid-column: 2/6;
            grid-row: 4/5;

            @include respond(b-11) {
                grid-column: 1/6;
            }
        }

        &--phone {
            grid-column: 4/6;
            grid-row: 5/6;

            @include respond(b-11) {
                grid-column: 1/6;
            }
        }

        &--zip-code {
            grid-column: 4/6;
            grid-row: 6/7;

            @include respond(b-11) {
                grid-column: 1/6;
            }
        }

        &--address {
            grid-column: 1/6;
            grid-row: 7/8;

            @include respond(b-11) {
                grid-row: 9/10;
            }
        }

        &--state {
            grid-column: 1/3;
            grid-row: 5/6;

            @include respond(b-11) {
                grid-column: 1/6;
                grid-row: 7/8;
            }
        }

        &--city {
            grid-column: 1/3;
            grid-row: 6/7;

            @include respond(b-11) {
                grid-column: 1/6;
                grid-row: 8/9;
            }
        }
    } 

    &__info-input {
        font-family: 'IRANSans';
        font-size: 1.4rem;
        color: $--color-grey-2;
        font-weight: 200;
        text-align: right;
        direction: rtl;
        padding: .5rem 1rem;

        &--name {
            grid-column: 3/6;
            grid-row: 3/4;
        }

        &--email {
            grid-column: 2/6;
            grid-row: 4/5;
        }

        &--phone {
            grid-column: 4/6;
            grid-row: 5/6;
        }

        &--zip-code {
            grid-column: 4/6;
            grid-row: 6/7;
        }

        &--address {
            grid-column: 1/6;
            grid-row: 7/8;
        }

        &--state {
            grid-column: 1/3;
            grid-row: 5/6;
        }

        &--city {
            grid-column: 1/3;
            grid-row: 6/7;
        }
    }

    &__pass-box {
        display: flex;
        flex-direction: row-reverse;
        grid-column: 1/3;
        grid-row: 3/4;
        opacity: .3;
        transition: all .2s ease-in;
        align-self: center;

        @include respond(b-9) {
            grid-row: auto;
            grid-column: 1/9;
        }
        
        &:hover {
            opacity: 1;
            cursor: pointer;
        }
    }

    &__pass-icon {
        height: 2rem;
        fill: $--color-grey-2;
        margin-left: 1rem;
    }

    &__pass-text {
        color: $--color-grey-2;
        font-size: 1.4rem;
    }

    &__notifs-container {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        font-size: 1.4rem;
        margin-bottom: 3.5rem; 
    }

    &__notif-container {
        display: flex;
        flex-direction: row-reverse;
        &:not(:last-child) {
            margin-bottom: 1.5rem;
        }
    }

    &__notif-text {
        margin-left: auto;
    }

    &__notif-date {

    }

    &__orders-container {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        font-size: 1.4rem;
        margin-bottom: 3.5rem; 
        color: $--color-grey-2;

    }

    &__order-container {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;

        &:not(:last-child) {
            margin-bottom: 1.5rem;
        }
    }

    &__order-text {
        margin-left: auto;
    }

    &__order-state {
        font-size: 1.2rem;
        opacity: .5;
    }

    &__change-pass-form {
        display: flex;
        flex-direction: column;
        text-align: right;
        font-size: 1.2rem;
    }

    &__nav {
        list-style-type: none;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        margin-top: 3.5rem;
    }

    &__nav-item {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        opacity: .8;
        transition: all .35s;

        &:hover {
            cursor: pointer;
            opacity: 1;
        }
    }

    &__nav-item:hover &__nav-text {
        transform: translateX(-.5rem);
    }

    &__nav-icon {
        height: 2.5rem;
        fill: $--color-grey-2;
        margin-left: 1.5rem;
    }

    &__nav-text {
        font-size: 1.6rem;
        font-weight: 400;
        color: $--color-grey-2;
        transition: all .25s;

        @include respond(b-10) {
            display: none;
        }
    }
}