.home {
    background-color: $--color-black;
    min-height: 100vh;
    padding: 0 $--size-padding-home;

    @include respond(small-desk) {
        padding: 0 $--size-padding-home-md;

    }

    @include respond(b-13) {
        padding: 0 2rem;

    }
}