.shop {
    background-color: $--color-white;
    min-height: 100vh;
    padding: 0 $--size-padding-home;
    position: relative;
    color: $--color-white;

    @include respond(small-desk) {
        padding: 0 $--size-padding-home-md; 
    }

    @include respond(b-9) {
        padding: 0 2.8rem; 
    }

    @include respond(b-11) {
        background-color: $--color-black;
    }

    &__bg {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        background-color: $--color-black;
        width: 100vw;
        height: 100vh;
        z-index: 0;
        transform: scale(1.2);
    }

    &__body {
        margin-top: 6rem;
        margin-bottom: 15rem;
        width: 100%;
        background-color: $--color-black;
        box-shadow: 0 2rem 3rem rgba(black, .3);
        position: relative;
        z-index: 2;
        display: flex;
        align-items: stretch;
        flex-direction: row-reverse;

        @include respond(b-10) {
            flex-direction: column;
        }

        @include respond(b-11) {
            margin-top: 5rem;
            margin-bottom: 7.5rem;
            box-shadow: none;
        }
    }

    &__right-side {
        background-color: $--color-black-dark-2;
        width: 30rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 3rem 3rem 6rem;
        align-items: center; 
        position: relative;

        @include respond(b-4) {
            width: 5rem;
            & > *:not(:first-child) {
                visibility: hidden;
            }
        }

        @include respond(b-10) {
            width: 100%;
            height: 5rem;
            padding: 0;
            margin-bottom: 1.5rem;
        }

        @include respond(b-11) {
            width: 100vw;
            right: 2.8rem;
        }

        &:last-of-type {
            display: none;
            position: absolute;
            z-index: 10;
            right: 0;
            top: 0;
            height: 100%;
            width: 5rem;
            // transition: all .25s 0.2s ease-in;
        }
    }

    &__right-side--show ~ &__right-side:last-of-type {
        display: flex;
        width: 25rem;
        box-shadow: -1rem 0 1rem rgba($color: #000000, $alpha: .23);
        
        @include respond(b-10) {
            width: 100vw;
            left: -2.8rem;
            padding: 2.5rem;
            align-items: flex-start;
            height: auto;
            box-shadow: 0 1rem 2rem rgba($color: #000000, $alpha: .23);
        }

        & > *:not(:first-child) {
            visibility: visible;
        }
    }

    &__right-side--show ~ &__right-side:last-of-type &__cats-icon {
        position: absolute;
        right: 1.7rem;

        @include respond(b-10) {
            top: 2.5rem;
            right: 2.5rem;
        }
    }

    &__right-side--show ~ &__right-side:last-of-type &__bottom-right-logo {
        @include respond(b-10) {
            display: none;
        }
    }

    &__right-side--show ~ &__right-side:last-of-type &__cats-box {
        @include respond(b-10) {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
            grid-gap: 2.5rem;
        }
    }

    &__right-side--show ~ &__right-side:last-of-type &__cats-box h2 {
        @include respond(b-10) {
            grid-column: 1/-1;
            justify-self: center;
        }
    }

    &__cats-icon {
        width: 2.5rem;
        height: 2.5rem;
        fill: $--color-white;
        opacity: .5;
        transition: all .2s;
        display: none;

        @include respond(b-4) {
            display: block;
        }

        @include respond(b-10) {
            position: absolute;
            top: 50%;
            right: 2.5rem;
            transform: translateY(-50%);
        }

        &:hover {
            cursor: pointer;
            opacity: .75;
        }
    }

    &__bottom-right-logo {
        fill: rgba($--color-white, .25);
        width: 7.5rem;
        transition: all .25s ease-in;
    }

    &__right-side:hover &__bottom-right-logo {
        fill: rgba($--color-primary, .5);
    }

    &__cats-box {
        direction: rtl;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__cats-gp {
        margin: 2rem 0;
        align-self: flex-start;
    }

    &__cats {
        list-style-type: none;
    }

    &__cat {
        &:not(:last-of-type) {
            margin-bottom: .5rem;
        }
        font-size: 1.2rem;

        transition: all .2s ease-in;

        &:hover {
            transform: translateX(-1rem);
            color: $--color-primary;
        }
    }

    &__cat-main {
        margin-bottom: 1rem;
        font-size: 1.4rem;
    }

    &__cat-link {
        
    }

    &__main {
        width: 100%;
        padding: 3rem 3rem 6rem;

        @include respond(b-11) {
            padding: 3rem 0rem;
        }
    }

    &__nav {
        display: flex;
        justify-content: space-between;
    }

    &__search {
        display: flex;
        flex-direction: row-reverse;
    }

    &__search-icon {
        width: 2rem;
        height: 2rem;
        fill: $--color-white;
    }

    &__search-label {
        margin-left: 1rem;
    }

    &__search-input {
        background-color: transparent;
        font-family: 'IRANSans';
        border: none;
        direction: rtl;
        font-size: 1.4rem;
        outline: none;
        color: $--color-white;
    }

    &__cart {
        position: relative;
    }

    &__cart-icon {
        width: 2rem;
        height: 2rem;
        fill: $--color-white;
        position: relative;
        z-index: 2;
        transition: all .2s;

        &:hover {
            fill: $--color-primary;
        }
    }

    &__cart-number {
        padding: .3rem .75rem;
        border-radius: 50%;
        background-color: rgba($--color-white, .2);
        color: $--color-white;
        position: absolute;
        top: -50%;
        right: -50%;
        z-index: 1;
        // transform: translate(-50%, -50%);
    }

    &__featured {

    }

    &__all {
        display: grid;
        align-items: center;
        justify-items: center;
        grid-gap: 3rem;
        grid-row-gap: 5rem;
        // direction: rtl;
        grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
        direction: rtl;
        @include respond(small-desk) {
            grid-template-columns: repeat(auto-fit, minmax(27.5rem, 1fr));
        }
    }

    &__all > .product-prev {
        direction: ltr;
    }

    &__all-title {
        grid-column: 1/-1;
    }
}