.signup {
    background-color: $--color-black;
    min-height: 100vh;
    padding: 0 $--size-padding-home;

    @include respond(small-desk) {
        padding: 0 $--size-padding-home-md; 
    }

    &__body {
        min-height: calc(100vh - 7.5rem);
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        padding: 7.5rem 3rem;
    }

    &__form {
        padding: 7.5rem 5rem;
        display: flex;
        flex-direction: column;
        font-size: 1.2rem;
        width: 100%;
    }

    &__hero {
        width: 30%;
        height: 80rem;
        background-image: linear-gradient(to right bottom, $--color-heading, $--color-heading), 
        url("/img/login.jpg");
        background-size: cover;
        background-blend-mode: darken;
        box-shadow: .2rem 1rem 2rem rgba(black, .2);
        // transform: translateX(-3rem);
    }

    &__options {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__box {
        background-color: $--color-black-dark;
        box-shadow: .2rem 1rem 2rem rgba(black, .2);
        transform: translateX(3rem);
        width: 70%;
        display: flex;
        flex-direction: row-reverse;
        text-align: right;
        color: $--color-white;
    }

    &__login {
        transition: all .2s;
        &:hover {
            color: $--color-primary;
        }
    }

    &__error {
        position: absolute;
        display: flex;
        background-color: rgba($--color-primary, .2);
        border-radius: .5rem;
        padding: 1rem 2rem;
        border: 1px solid $--color-primary;
        width: 90%;
        align-items: center;
        justify-content: flex-end;
        left: 50%;
        top: -5rem;
        transform: translateX(-50%);
        transition: all .2s ease-in;
        opacity: 0;

        &--show {
            opacity: 1;
        }
    }

    &__error-icon {
        width: 1.5rem;
        height: 1.5rem;
        fill: $--color-white;
        margin-left: 2rem;

        &:hover {
            cursor: pointer;
        }
    }

    &__error-text {
        font-size: 1.2rem;
    }
}